include _mixins
if req.xhr
	block main
else
	doctype html
	html
		head
			meta(charset="UTF-8")
			title=title
			meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1")
			meta(http-equiv="X-UA-Compatible" content="IE=edge")
			!=__css
		body
			header#page-header
			main
				block main
			footer#page-footer
			script(src="//cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.find,Array.prototype.findIndex,Array.prototype.contains,Array.prototype.entries,Array.prototype.keys,Object.entries,Object.values,Symbol,fetch")
			!=__js
			!=__livereload