mediaMax(max)
	max = max is a 'unit' ? max : $g-adapt[max]
	@media all and (max-width max)
		{block}
mediaMin(min)
	min = min is a 'unit' ? min : $g-adapt[min]
	@media all and (min-width (min + 1))
		{block}
mediaBetween(min, max)
	max = max is a 'unit' ? max : $g-adapt[max]
	min = min is a 'unit' ? min : $g-adapt[min]
	@media all and (min-width (min + 1)) and (max-width max)
		{block}

.g
	max-width $g-width
	margin 0 auto
	display flex
	flex-wrap wrap
.wrap
	max-width $g-width - ($g-gap * 2)
	padding 0 $g-gap
	margin 0 auto
	.g
		margin 0 (-($g-gap))
		padding 0
.hidden
	display none !important
[class^="c-"], [class*=" c-"]
	display inline-block
	float left
	box-sizing border-box
	padding 0 $g-gap
	flex 0 0 auto
	&:not(.np) .g
		margin-right (-($g-gap))
		margin-left (-($g-gap))
		padding-right 0
		padding-left 0
	&.np
		padding-right 0
		padding-left 0
	&.npl
		padding-left 0
		.g
			margin-left 0
			padding-left 0
	&.npr
		padding-right 0
		.g
			margin-right 0
			padding-right 0
for $i in 1..12
	.c-{$i}
		width (100% / 12) * $i
.c-rest
	flex 1 0 0
for $name, $threshold in $g-adapt
	+mediaMax($threshold)
		for $i in 1..12
			.c-{$name + '-' + $i}
				flex 0 0 auto
				width (100% / 12) * $i
		.c-{$name}-rest
			flex 1 1 auto
		.{$name}-hidden
			display none !important
		.{$name}-show
			display block !important
		.{$name}-show-i
			display inline !important
		.{$name}-show-ib
			display inline-block !important
		.{$name}-np
			padding-right 0 !important
			padding-left 0 !important
		.{$name}-npr
			padding-right 0 !important
		.{$name}-npl
			padding-right 0 !important
		.{$name}-first
			order -1