.modal
	overflow auto
	fixed 0
	z-index 15
	backface-visibility hidden
	opacity 1
	background rgba($c-black, 0.9)
	transition opacity 0.2s ease-out
.modal-win
	display block
	background white
	margin 160px auto 80px auto
	position relative
	max-width 600px
	padding 2em $g-gap
	transition transform 0.2s ease-out
	.g, .wrap
		margin 0 (-($g-gap))
		padding 0
.modal-appearing
	opacity 0
	.modal-win
		transform scale(0.98) translateY(-15px)
.modal-closing
	tranition none
	opacity 0