// fonts and typo
$base-line-height = 1.5
$base-font-size = 16px
$base-font-family = Open Sans, sans-serif
$base-list-padding-left = 1.8em

// colors
$c-black = black

// 12-col grid settings
$g-width = 1200px
$g-gap = 15px
$g-adapt = {
	xl: $g-width + ($g-gap * 2)
	lg: 1000px
	md: 760px
	sm: 580px
}