// fonts and typo
$base-line-height = 1.5
$base-font-size = 16px
$base-font-family = Open Sans, sans-serif
$base-list-padding-left = 1.8em

// colors
$c-black = black

// 12-col grid settings
$g-width = 1230px
$g-gap = 15px
$g-adapt = {
	xl: $g-width + ($g-gap * 2)
	lg: 1000px
	md: 760px
	sm: 580px
}

mediaMax(max)
	max = max is a 'unit' ? max : $g-adapt[max]
	@media all and (max-width max)
		{block}
mediaMin(min)
	min = min is a 'unit' ? min : $g-adapt[min]
	@media all and (min-width (min + 1))
		{block}
mediaBetween(min, max)
	max = max is a 'unit' ? max : $g-adapt[max]
	min = min is a 'unit' ? min : $g-adapt[min]
	@media all and (min-width (min + 1)) and (max-width max)
		{block}